h3{
	margin-left: 10px;
	color:white;
}

.fixed-nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 50px;
	background-color: #000000;
	display: inline-block;
}

.fixed-nav-bar li, .fixed-nav-bar a{
	height: 50px;
	line-height: 50px;}

.topnav {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	height: 50px;
	}

.topnav-items, .topnav-items li{
	list-style:none;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin: 0;
	margin-left: 10px;
	margin-right: 10px;
	
}

.topnav-items a, .topnav-items a:visited, .button{
	color: #ffffff;
	text-decoration: none;
}

.topnav-items a:hover{
	color:gray;
	-webkit-transition: color .2s ease-in;
}

.menu {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
		
}

.rightside{
	list-style:none;
	display: inline-block;
	vertical-align: top;
	text-align: right;
	margin: 0;
	top: 50%;
	float: right;
}

.rightside img:hover{
	opacity: .8;
	-webkit-transition: opacity .2s ease-in;
}

.logo{
	display: inline-block;
	margin-right: 20px;
	margin-left: 10px;
	height: 50px;
	width: auto;
}



