@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Raleway');

body{
	font: normal 18px/22px;
	font-family: 'Raleway', sans-serif;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

h1{
	font-family: 'Merriweather', serif;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-shadow: 3px 3px 5px black;
}

p{
	margin: 10px ;
}

.flex-column-center{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.flex-row-center{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.container{
	position: absolute;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	margin:auto;
}

.hireslogo{
	height: 50vh;
	width: auto;
	flex-shrink: 1;
}
/*
.logo-home{
	padding-top: 190px;
}
*/
.description{
	margin-top: 50px;
	padding-top: 20px;
	font-size: 125%;
}

.description, .logo-home{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	text-align:center;
	color:white;
}

.button{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-top: 65px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 15px;
	background: #1c97d2;
	width: 100px;
	padding: 10px;
	-webkit-transition: background .2s ease-in;
}

.button:hover{
	border-radius: 15px;
	width: 100px;
	padding: 10px;
	-webkit-transition: color .2s ease-in;
	filter: brightness(75%);
	-webkit-transition: filter .2s ease-in;
}

#resume{
	background: #ffc90d;
	color: gray;
}

.landing{
	position: relative;
	background: url('bg op40.png') no-repeat center center fixed;
	background-size: cover;
	height: 100vh;
	min-height: 500px;
	padding: 10px 10px;
}

.header{
	height: 50vh;
	min-height: 400px;
	padding: 0;
	margin: 0;
}

.about-header{
	background: url('berlinwall2.jpg');
	background-size:cover;
	background-position: 50% 90%;
}

.experience-header{
	background: url('views.jpg');
	background-size:cover;
	background-position: 50% 35%;
}

.contact-header{
	background: url('highway.jpg');
	background-size:cover;
	background-position: 50% 35%;
}

.text-wrapper{
	position: relative;
	height: 50vh;
	min-height: 400px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.header-text{
	position: relative;
	top: 25vh;
	transform: translate(20%, 100%);
	max-width: 400px;
	text-align:left;
	color:white;
	vertical-align: middle;
	font-size: 125%
}

.content-wrapper {
	height: 50vh;
	min-height: 400px;
	overflow: auto;
	background: #ffffff;
	padding: 0;

}

.content{
	position: relative;
	height: 50vh;
	min-height: 400px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	color:black;
}

.attribute-box{
	width: 285px;
	display: inline-block;
	vertical-align: top;
}

.contact-content{
	text-align:center;
}

.icons{
	display:inline-block;
}

.icons img{
	width: 50px;
	height: 50px;
	margin: 10px;
}

.icons img:hover{
	opacity:.8;
	-webkit-transition: opacity .05s ease-in;
}

a{
	text-decoration:none;
}
/* 
.about {
	min-height: 500px;
	text-align: center;
	color:blue;
	background: gray;
	padding: 10px 10px;
}

.footer {
	min-height: 500px;
	text-align: center;
	color: green;
	background: gray;
	margin-bottom: 0px;
	padding: 10px 10px;
}
*/


