body{
	font: normal 18px/22px "Varela Round", sans-serif;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}
h1, h2{
	font-family: "Signika", sans-serif;
	font-weight: 600;
}
p{
	margin: 20px ;
}

.content{
	position: relative;
	background: url(bg2.jpg) no-repeat center center fixed;
	background-size: cover;
	padding: 10px 10px;
}

.description {
	width: 90%;
	max-width: 960px;
	margin: 0 auto;
	padding-top: 100px;
	min-height: 750px;
	text-align:center;
	color:white;
}